* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1#main-title {
  color: #bf3231;
}

p {
  padding: 0px 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}

#contact-body {
  background: rgb(169, 249, 158);
  background: linear-gradient(
    155deg,
    rgba(169, 249, 158, 1) 0%,
    rgba(70, 173, 213, 1) 100%
  );
  height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 400px;
  border-radius: 10px;
}

.center h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .text-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
}

.text-field input {
  width: 100%;
  padding: 0 5px;
  height: 30px;
  border: none;
  font-size: 16px;
  background: none;
  outline: none;
}

.text-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}

#message {
  display: none;
}

.text-field span::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #5abdca;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
  top: -7px;
  color: #5abdca;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
  width: 100%;
}

.btn-submit {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  background-color: #5abdca;
  border-radius: 20px;
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}

form textarea {
  outline: none;
  width: 100%;
  resize: none;
  overflow: auto;
  border: 2px solid #adadad;
  font-size: 18px;
  color: #474747;
}

textarea::placeholder {
  font-size: 18px;
  color: #adadad;
}

textarea:focus,
textarea:valid {
  border: 2px solid #5abdca;
}
